@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icon-font.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts_styles */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//------------------ icons ------------------------------->
.icon-ufo:before {
  content: "\e900";
}
.icon-airplane:before {
  content: "\e901";
}
.icon-helicopter:before {
  content: "\e90a";
}
.icon-rocket:before {
  content: "\e90b";
}