$white                   : #FFFFFF;
$black                   : #000000;
$deep_blue               : #0465AC;
$deep_blue_dark          : #065188;
$deep_blue_light         : #A2D7E7;
$floral_green            : #018D31;
$floral_green_dark       : #006F26;
$floral_green_light      : #ADEDB3;
$interstellar_grey       : #D2CDEA;
$interstellar_grey_light : #46454A;
$smoke_grey              : #EEEEEE;
$smoke_grey_light        : #F8F8F8;
$sunny_orange            : #E76101;
$sunny_orange_dark       : #C85400;
$sunny_orange_light      : #FFF6CE;
$text_blue               : #0063BE;
$text_blue_light         : #0080F6;
$text_grey               : #333333;
$text_grey_light         : #909090;
$violet                  : #3F3664;

